.announcement-container {
    max-width: 550px;
    margin: 30px auto;
    padding: 2vmin;
    border-radius: 7px;
    background-color: white;
}

.lot-statuses > * {
    margin-top: 3px;
}
